@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-red: #D32F2F;
  --color-brand-green: #388E3C;
  --color-brand-dark: #212121;
  --color-brand-yellow: #FBC02D;
  --color-brand-offwhite: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
